* {
    padding: 0px;
    margin: 0px;
    background-color: Century Gothic;
}

body {
    background-color: #ededed;
    background: url('imagenes/1.jpg') no-repeat;
    background-size: cover;
}

.home {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.in-flex {
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background-color: rgb(51, 53, 50);
    margin: 20px;
    margin-bottom: px;
}

.in-flex div {
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

label {
    text-align: center;
}

.in-img {
    border-radius: 50%;
}